<div class="edit-pic-center">
  <%= image_tag @pic.image.url(:medium), class: "edit-pic" %>
</div>

<%= render 'form' %>
<br />
<div class="pure-center edit-bottom-margin">
  <%= link_to "Cancel", pic_path %>
</div>
