<div class="pure-center">
  <% @pics.each do |pic| %>
    <%= link_to (image_tag pic.image.url(:medium)) %>
    <h2><%= link_to pic.title, pic %></h2>
    <p><%= pic.description %></p>
  <% end %>
</div>
