article
  box-sizing: border-box
  display: flex
  align-items: stretch
  flex-direction: column
  margin: 0
  padding: 0
  position: relative
  z-index: -1
  margin-bottom: 60px
  max-width: 602px

.article-pic
  background-color: white
  border: 1px solid #efefef
  border-radius: 3px
  .header-pic
    height: 64px
    padding: 14px 20px

    -webkit-box-align: center
    align-items: center
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    flex-direction: row

    border: 0 solid #000
    box-sizing: border-box
    display: flex
    flex-shrink: 0
    margin: 0
    position: relative
    .index-title
      font-size: 1.1em
  .index-pic
    -webkit-box-align: stretch
    -ms-flex-align: stretch
    align-items: stretch
    border: 0 solid #000
    box-sizing: border-box
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -ms-flex-negative: 0
    flex-shrink: 0
    margin: 0
    padding: 0
    position: relative
  .index-pic-description
    font-size: 15px
    line-height: 18px
    padding: 0 24px
