// Imports
@import "fonts"
@import "colors"
@import "show"
@import "menu"
@import "form"
@import "buttons_extra"
@import "nav_bar"


// Alerts
.pure-alert
  position: relative
  margin-bottom: 1em
  padding: 1em
  background: #ccc
  border-radius: 3px
  z-index: 999

  background-color: rgb(209, 235, 238)
  color: rgb(102, 131, 145)

.pure-alert-error
  background-color: #D13C38
  color: #fff

.pure-alert-warning
  background-color: rgb(250, 191, 103)
  color: rgb(151, 96, 13)

.pure-alert-success
  background-color: rgb(83, 180, 79)
  color: #fff

// Generals
body
  background-color: $bg_color

body, p
  font-family: $Ssp
  font-weight: 400
  font-size: 17px
  line-height: 1.3em

h1, h2, h3, h4, h5
  font-family: $Merry
  font-weight: 700
  line-height: 1.3em

h6
  font-family: $Ssp
  font-weight: 400
  text-transform: uppercase

.main-wrapper
  width: 100%

.content
  margin: auto
  margin-top: 120px

.pure-center
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em
  max-width: 768px
