// Variables
$gray: #eeefef
$bg_color: #FAFAFA

.pure-alert
  position: relative
  margin-bottom: 1em
  padding: 1em
  background: #ccc
  border-radius: 3px
  z-index: 999

  background-color: rgb(209, 235, 238)
  color: rgb(102, 131, 145)

.pure-alert-error
  background-color: #D13C38
  color: #fff

.pure-alert-warning
  background-color: rgb(250, 191, 103)
  color: rgb(151, 96, 13)

.pure-alert-success
  background-color: rgb(83, 180, 79)
  color: #fff

// Customization of pure

.pure-menu
  background-color: white

.pure-menu-horizontal
  border-bottom: 1px solid #DBDBDB
  // flex
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

  padding: 15px 40px

.pure-menu-heading
  font-size: 1.3em

.pure-menu-link
  font-size: 1.3em
  text-transform: uppercase

body
  background-color: $bg_color

.main-wrapper
  width: 100%

.content
  width: 95%
  max-width: 1000px
  margin: 0 auto

.pure-center
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em
  max-width: 768px

.custom-btn
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  width: 100% !important
  height: 2.8em

.custom-form
  margin-bottom: 0.5rem !important

.pic-box-center
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em
  max-width: 933px

.pic-box
  max-width: 933px
  height: 600px
  margin-top: 60px
  background-color: white
  border: 1px solid $gray
  border-bottom-right-radius: 3px
  border-top-right-radius: 3px

.main-wrapper-pic
  width: 933px

  display: flex
  flex-direction: row

  .pic
    width: 100%
    height: 100%
    object-fit: contain

  .pic-left
    max-width: 600px

  .pic-right
    // width: 40%

  .desc-wrapper
    max-width: 290px
    margin-left: 24px
    margin-right: 24px

    // flex
    display: flex
    flex-direction: column

  .pic-title
    font-size: 1.1em
    font-weight: bold
    border-bottom: 1px solid $gray
    padding: 20px 0
    margin: 0

  .pic-by
    margin: 0
    padding-top: 0.5rem

  .pic-description
    height: 400px
    margin-bottom: 0

  .pic-btn
    padding: 0 0 0 24px
    width: 290px
    float: right

  .pic-btn-item
    align-self: flex-end
    flex-shrink: 1

// Media querys
@media (max-width: 842px)
  .main-wrapper-pic
    flex-direction: column
    .fifty
      width: 100%
