// Imports
@import "fonts"
@import "colors"
@import "index"
@import "show"
@import "edit"
@import "menu"
@import "form"
@import "buttons_extra"
@import "nav_bar"
@import "alerts"


// Generals
body
  background-color: $bg_color

body, p
  font-family: $Ssp
  font-weight: 400
  font-size: 17px
  line-height: 1.3em

h1, h2, h3, h4, h5
  font-family: $Merry
  font-weight: 700
  line-height: 1.3em

h6
  font-family: $Ssp
  font-weight: 400
  text-transform: uppercase

a
  text-decoration: none

.main-wrapper
  width: 100%

.content
  margin: auto
  margin-top: 120px

.pure-center
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em
  max-width: 768px
